.c7n-platform-overview {
  background-color: rgba(245, 246, 250, 1);
  .page-content {
    padding-top: 2px !important;
  }
  &-firstline {
   width: 100%;
   display: flex;
   justify-content: space-between;
   height: 383px;
   &-left {
     width: 40%;
   }
  }

  &-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &-left {
      flex-basis: 58%;
      width: 58%;
    }

    &-right {
      flex-basis: 40%;
      width: 0;
    }
  }
}
