.organization-pwdpolicy {

  &-label {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

    .icon {
      font-size: .14rem;
      margin-left: .04rem;
    }
  }

  &-box-span {
    width: .6rem;
    display: inline-block;
  }

  .link:hover {
    color: @primary-color;
    text-decoration: underline;
    cursor: pointer;
  }
}
