<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.ApplicationSvcVersionRefMapper">
    <insert id="batchInsert">
        INSERT
        INTO fd_application_svc_version_ref(application_version_id, service_version_id)
        VALUES
        <foreach collection="serviceVersionIds" item="serviceVersionId" separator=",">
            (#{versionId},#{serviceVersionId})
        </foreach>
    </insert>
    <delete id="batchDelete">
        DELETE
        FROM fd_application_svc_version_ref
        WHERE service_version_id IN
        <foreach collection="serviceVersionIds" open="(" close=")" item="serviceVersionId" separator=",">
            #{serviceVersionId}
        </foreach>
    </delete>
    <select id="selectByVersionAndStatus" resultType="io.choerodon.base.infra.dto.ApplicationSvcVersionRefDTO">
        SELECT *
        FROM fd_application_svc_version_ref
        WHERE APPLICATION_VERSION_ID = #{appVersionId} AND status = #{status}
    </select>
    <select id="selectByAppVersionId" resultType="io.choerodon.base.infra.dto.devops.AppServiceAndVersionDTO">
    SELECT
        SERVICE_VERSION_ID AS version_id,
        STATUS AS version_status
    FROM
        FD_APPLICATION_SVC_VERSION_REF
    WHERE
        APPLICATION_VERSION_ID =#{application_version_id}
    ORDER BY id asc
    </select>

    <select id="selectSvcVersionByOrgId" resultType="java.lang.Long">
        SELECT
        DISTINCT
        fasvr.SERVICE_VERSION_ID
        FROM
        (select
        innerMaor.APP_VERSION_ID,
        innerMaor.APP_ID
        FROM
        mkt_app_organization_ref innerMaor
        <if test="organizationId != null">
            WHERE
            innerMaor.ORGANIZATION_ID = #{organizationId}
        </if>
        ) maor
        JOIN fd_application_svc_version_ref fasvr ON fasvr.APPLICATION_VERSION_ID = maor.APP_VERSION_ID
        JOIN fd_application fa ON fa.ID = maor.APP_ID
        JOIN mkt_app_ver_download_record mavdr ON mavdr.MKT_APP_CODE = fa.SOURCE_CODE
        WHERE
        fa.TYPE = #{appType}
        OR fa.type = 'mkt_code_deploy'
        AND mavdr.STATUS = 'completed'
    </select>

</mapper>
