<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.base.infra.mapper.ApplicationVersionMapper">

    <select id="fulltextSearch" resultType="io.choerodon.base.api.vo.ApplicationVersionVO">
        SELECT
        fav.ID,fav.VERSION,fav.DESCRIPTION,
        pvi.STATUS
        FROM
        fd_application_version fav
        LEFT JOIN mkt_publish_version_info pvi ON pvi.APPLICATION_VERSION_ID = fav.ID
        WHERE
        fav.application_id = #{applicationId}
        <include refid="sqlparam"/>
        ORDER BY fav.ID DESC
    </select>
    <select id="selectVersionWithPublishStatusById" resultType="io.choerodon.base.api.vo.ApplicationVersionVO">
        SELECT
        fav.ID,fav.VERSION,fav.DESCRIPTION,
        pvi.STATUS
        FROM
        fd_application_version fav
        LEFT JOIN mkt_publish_version_info pvi ON pvi.APPLICATION_VERSION_ID = fav.ID
        WHERE
        fav.ID = #{id}
    </select>

    <sql id="sqlparam">
        <if test="version != null">
            AND fav.version LIKE concat(concat('%',#{version}),'%')
        </if>
        <if test="description != null">
            AND fav.description LIKE concat(concat('%',#{description}),'%')
        </if>
        <if test="status != null">
            AND pvi.status = #{status}
        </if>
        <if test="params != null">
            AND
            <foreach item="param" index="index" collection="params"
                     open="(" separator="AND" close=")">
                fav.version LIKE concat(concat('%',#{param}),'%') OR
                fav.description LIKE concat(concat('%',#{param}),'%')
            </foreach>
        </if>
    </sql>


    <select id="selectWithStatus" resultType="io.choerodon.base.api.vo.ApplicationVersionWithStatusVO">
        SELECT
            fav.*,
            mpvi.STATUS
        FROM
            FD_APPLICATION_VERSION fav
            LEFT JOIN MKT_PUBLISH_VERSION_INFO mpvi ON fav.ID = mpvi.APPLICATION_VERSION_ID
        WHERE
            fav.APPLICATION_ID =#{application_id}
        ORDER BY fav.id desc
    </select>
</mapper>