<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.base.infra.mapper.ApplicationMapper">

    <select id="fulltextSearchInProject" resultType="io.choerodon.base.api.vo.ApplicationRespVO">
        <include refid="resultProperty"/>
        FROM
        fd_application fa
        JOIN fd_project fp ON fp.id = fa.project_id
        JOIN iam_user iu ON iu.id = fa.created_by
        WHERE
        fa.project_id=#{projectId}
        <include refid="sqlparam"/>
    </select>

    <select id="fulltextSearchInOrganization" resultType="io.choerodon.base.api.vo.ApplicationRespVO">
        <include refid="resultProperty"/>
        ,fp.name as projectName
        FROM
        fd_application fa
        JOIN fd_project fp ON fp.id = fa.project_id
        JOIN iam_user iu ON iu.id = fa.created_by
        <if test="participant != null">
            JOIN iam_member_role imr ON imr.source_id = fp.id
        </if>
        WHERE
        fp.organization_id=#{organizationId}
        <include refid="orgSqlparam"/>
    </select>

    <select id="fulltextSearchMarketAppInOrganization" resultType="io.choerodon.base.api.vo.ApplicationRespVO">
        <include refid="resultProperty"/>
        FROM
        fd_application fa
        JOIN iam_user iu ON iu.id = fa.created_by
        JOIN mkt_app_organization_ref maor ON maor.app_id = fa.id
        <include refid="marketOrgSqlparam"/>
    </select>


    <sql id="resultProperty">
        SELECT
        DISTINCT
        fa.id,
        fa.project_id,
        fa.name,
        fa.code,
        fa.type,
        fa.description,
        fa.source_code,
        fa.feedback_token,
        fa.object_version_number,
        fa.created_by,
        fa.creation_date,
        iu.real_name as creatorRealName
    </sql>

    <sql id="orgSqlparam">
        <if test="participant != null">
            AND imr.member_id = #{participant}
            AND imr.member_type = 'user'
        </if>
        <if test="createBy != null">
            AND fa.created_by = #{createBy}
        </if>
        <if test="projectName != null">
            AND fp.name LIKE concat(concat('%',#{projectName}),'%')
        </if>
        <include refid="sqlparam"/>
    </sql>

    <sql id="marketOrgSqlparam">
        <where>
            <if test="type != null">
                <if test="type == 'custom'">
                    AND fa.type = 'custom'
                </if>
                <if test="type == 'market'">
                    AND fa.type = 'mkt_code_only'
                    OR fa.type = 'mkt_deploy_only'
                    OR fa.type = 'mkt_code_deploy'
                    AND maor.organization_id = #{organizationId}
                </if>
            </if>
            <include refid="sqlparam"/>
        </where>
    </sql>

    <sql id="sqlparam">
        <if test="name != null">
            AND fa.name LIKE concat(concat('%',#{name}),'%')
        </if>
        <if test="description != null">
            AND fa.description LIKE concat(concat('%',#{description}),'%')
        </if>
        <if test="creatorRealName != null">
            AND iu.real_name LIKE concat(concat('%',#{creatorRealName}),'%')
        </if>
        <if test="params != null">
            AND
            <foreach item="param" index="index" collection="params"
                     open="(" separator="AND" close=")">
                fa.name LIKE concat(concat('%',#{param}),'%') OR
                fa.description LIKE concat(concat('%',#{param}),'%') OR
                fp.name LIKE concat(concat('%',#{param}),'%') OR
                iu.real_name LIKE concat(concat('%',#{param}),'%')
            </foreach>
        </if>
    </sql>


    <select id="getBriefInfo" resultType="io.choerodon.base.infra.dto.ApplicationDTO">
        SELECT
        fa.ID,
        fa.NAME,
        fa.DESCRIPTION
        FROM
        FD_APPLICATION fa
        WHERE 1=1
        <include refid="selectparams"/>
    </select>

    <select id="selectByPublishAppId" resultType="io.choerodon.base.infra.dto.ApplicationDTO">
        SELECT fa.ID, fa.PROJECT_ID, fa.NAME, fa.CODE, fa.TYPE, fa.DESCRIPTION, fa.SOURCE_CODE, fa.FEEDBACK_TOKEN, fa.HAS_GENERATED, fa.OBJECT_VERSION_NUMBER, fa.CREATED_BY, fa.CREATION_DATE, fa.LAST_UPDATED_BY, fa.LAST_UPDATE_DATE
        FROM fd_application fa
        JOIN mkt_publish_application mpa ON fa.ID = mpa.REF_APP_ID
        WHERE mpa.ID = #{publishApplicationId}
    </select>
    <sql id="selectparams">
        <if test="filterDTO.projectId != null">
            AND fa.project_id = #{filterDTO.projectId}
        </if>
        <if test="filterDTO.hasGenerated != null">
            AND fa.has_generated = #{filterDTO.hasGenerated}
        </if>
    </sql>

</mapper>