<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.base.infra.mapper.AppVerDownloadRecordMapper">
    <select id="fulltextSearch" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
        SELECT
        DISTINCT
        madr.*,
        iuinfo.image_url as downloaderImgUrl,
        iuinfo.real_name as downloaderRealName,
        iuinfo.login_name as downloaderLoginName
        FROM
        mkt_app_ver_download_record madr
        JOIN
        (SELECT DISTINCT
        iu.id,iu.image_url,iu.real_name,iu.login_name
        FROM
        mkt_app_ver_download_record innermadr
        JOIN
        iam_user iu
        ON iu.id = innermadr.created_by
        )iuinfo ON iuinfo.id = madr.created_by
        <include refid="sqlparam"/>
    </select>

    <select id="getLastDownloadStatus" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
        SELECT *
        FROM mkt_app_ver_download_record madr
        WHERE madr.MKT_VERSION_ID=#{appVerDownloadRecordDTO.mktVersionId}
        AND madr.MKT_APP_CODE=#{appVerDownloadRecordDTO.mktAppCode}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <sql id="sqlparam">
        <where>
            <if test="organizationId != null">
                AND madr.ORGANIZATION_ID = #{organizationId}
            </if>
            <if test="appName != null">
                AND madr.mkt_app_name LIKE concat(concat('%',#{appName}),'%')
            </if>
            <if test="categoryName != null">
                AND madr.category_name LIKE concat(concat('%',#{categoryName}),'%')
            </if>
            <if test="downloader != null">
                AND iuinfo.real_name LIKE concat(concat('%',#{downloader}),'%')
            </if>
            <if test="versionName != null">
                AND madr.mkt_version_name LIKE concat(concat('%',#{versionName}),'%')
            </if>
            <if test="status != null">
                AND madr.status = #{status}
            </if>
            <if test="params != null">
                AND
                <foreach item="param" index="index" collection="params"
                         open="(" separator="AND" close=")">
                    madr.mkt_app_name LIKE concat(concat('%',#{param}),'%') OR
                    madr.category_name LIKE concat(concat('%',#{param}),'%') OR
                    iuinfo.real_name LIKE concat(concat('%',#{param}),'%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getMyDownloadAppCode" resultType="java.lang.String">
		SELECT  fadr.MKT_APP_CODE
        FROM mkt_app_ver_download_record fadr
        WHERE fadr.status='completed'
        GROUP BY fadr.MKT_APP_CODE
	</select>


    <select id="queryDownloadRecordByAppCodeAndOrgId" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
        SELECT mavdr.*
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.MKT_APP_CODE=#{appCode}
        AND mavdr.ORGANIZATION_ID=#{organizationId}
    </select>
    <select id="getVersionDownloadCountByCodeAndOrgId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.MKT_APP_CODE=#{appCode}
        AND mavdr.ORGANIZATION_ID=#{organizationId}
    </select>
    <select id="getVersionDownloadCompletedCountByCodeAndOrgId" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
        SELECT mavdr.*
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.MKT_APP_CODE=#{verDownloadRecordDTO.mktAppCode}
        AND mavdr.mkt_version_id=#{verDownloadRecordDTO.mktVersionId}
        AND mavdr.status=#{verDownloadRecordDTO.status}
        AND mavdr.ORGANIZATION_ID=#{organizationId}
        ORDER BY mavdr.id DESC
        LIMIT 1

    </select>
    <select id="getAppDownloadCompletedByCodeAndOrgId" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
         SELECT mavdr.*
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.MKT_APP_CODE=#{recordDTO.mktAppCode}
        AND mavdr.status=#{recordDTO.status}
        AND mavdr.ORGANIZATION_ID=#{organizationId}
    </select>
    <select id="getLastDownloadStatusWithOrgId" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
        SELECT mavdr.*
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.MKT_APP_CODE=#{appVerDownloadRecordDTO.mktAppCode}
        AND mavdr.mkt_version_id=#{appVerDownloadRecordDTO.mktVersionId}
        AND mavdr.ORGANIZATION_ID=#{organizationId}
        ORDER BY mavdr.id DESC
        limit 1
    </select>
    <select id="getVersionDownloadCompletedCountByCodeAndOrgIdAndVersion" resultType="io.choerodon.base.infra.dto.AppVerDownloadRecordDTO">
        SELECT mavdr.*
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.MKT_APP_CODE=#{verDownloadRecordDTO.mktAppCode}
        AND mavdr.mkt_version_name=#{verDownloadRecordDTO.mktVersionName}
        AND mavdr.status=#{verDownloadRecordDTO.status}
        AND mavdr.ORGANIZATION_ID=#{organizationId}
        ORDER BY mavdr.id DESC
        LIMIT 1
    </select>
    <select id="getCompletedAppCodeByOrgId" resultType="java.lang.String">
        SELECT mavdr.MKT_APP_CODE
        FROM mkt_app_ver_download_record mavdr
        WHERE mavdr.status='completed'
        AND mavdr.ORGANIZATION_ID=#{organizationId}
        GROUP BY mavdr.MKT_APP_CODE
    </select>

</mapper>