<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.C7nLabelMapper">
    <select id="selectLabelNamesInRoleIds" resultType="java.lang.String">
        SELECT DISTINCT iam_label.name
        FROM iam_label
        INNER JOIN iam_role_label ON iam_role_label.label_id = iam_label.id
        WHERE iam_role_label.role_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
