<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.ClientC7nMapper">
    <select id="selectClientsByRoleIdAndOptions" resultType="org.hzero.iam.domain.entity.Client">
        SELECT DISTINCT client.* FROM iam_member_role imr
        INNER JOIN oauth_client client ON imr.member_id = client.id
        WHERE imr.role_id = #{roleId}
        AND imr.member_type = 'client'
        <if test="sourceId != null">
            AND imr.source_id = #{sourceId}
        </if>
        <if test="sourceType != null">
            AND imr.source_type = #{sourceType}
        </if>
        <if test="clientRoleSearchDTO != null">
            <if test="clientRoleSearchDTO.clientName != null">
                AND client.NAME LIKE concat(concat('%',#{clientRoleSearchDTO.clientName}),'%')
            </if>
        </if>
        <if test="param != null">
            AND ( client.NAME LIKE concat(concat('%',#{param}),'%')
            OR client.ADDITIONAL_INFORMATION LIKE concat(concat('%',#{param}),'%')
            OR client.AUTHORIZED_GRANT_TYPES LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>

    <select id="selectClientCountFromMemberRoleByOptions" resultType="int"
            parameterType="io.choerodon.iam.api.vo.ClientRoleQueryVO">
        SELECT COUNT(1) FROM (
        SELECT DISTINCT client.id FROM iam_member_role imr
        INNER JOIN oauth_client client ON imr.member_id = client.id
        WHERE imr.role_id = #{roleId}
        AND imr.member_type = 'client'
        <if test="sourceId != null">
            AND imr.source_id = #{sourceId}
        </if>
        <if test="sourceType != null">
            AND imr.source_type = #{sourceType}
        </if>
        <if test="clientRoleSearchDTO != null">
            <if test="clientRoleSearchDTO.clientName != null">
                AND client.NAME LIKE concat(concat('%',#{clientRoleSearchDTO.clientName}),'%')
            </if>
        </if>
        <if test="param != null">
            AND ( client.NAME LIKE concat(concat('%',#{param}),'%')
            OR client.ADDITIONAL_INFORMATION LIKE concat(concat('%',#{param}),'%')
            OR client.AUTHORIZED_GRANT_TYPES LIKE concat(concat('%',#{param}),'%')
            )
        </if>
        ) t
    </select>

    <select id="listClientsInProject" resultType="java.lang.Long">
        SELECT
            oc.id
        FROM
            oauth_client oc
        WHERE
            oc.id IN (
                SELECT
                    ocr.client_id
                FROM
                    fd_project fp
                    JOIN oauth_client_resource ocr ON ocr.source_id = fp.id
                                                      AND ocr.source_type = 'project'
                WHERE
                    fp.ORGANIZATION_ID = #{organizationId}
            )
    </select>

    <select id="listClientBySourceId" resultType="org.hzero.iam.domain.entity.Client">
        SELECT
            oc.id,
            oc. NAME AS NAME,
            oc.organization_id,
            oc.authorized_grant_types,
            oc.object_version_number,
            oc.enabled_flag
        FROM
            oauth_client oc
            JOIN oauth_client_resource ocr on ocr.client_id=oc.id and ocr.source_type=#{sourceType} and ocr.source_id=#{sourceId}
        where
            oc.organization_id=#{organizationId}
        <if test="name != null and name != ''">
            <bind name="nameLike" value="'%' + name + '%'"/>
            AND oc.name LIKE #{nameLike}
        </if>
        <if test="params != null">
            <bind name="paramsLike" value="'%' + params + '%'"/>
            AND (oc.name LIKE #{paramsLike} or  oc.authorized_grant_types LIKE #{paramsLike})
        </if>
    </select>

    <select id="listClientsByTenantId" resultType="org.hzero.iam.domain.entity.Client">
        SELECT
            oc.id,
            oc. NAME AS NAME,
            oc.organization_id,
            oc.authorized_grant_types,
            oc.object_version_number,
            oc.enabled_flag
        FROM
            oauth_client oc
        where
            oc.organization_id=#{organizationId}
        AND oc.id NOT IN (
        SELECT
        ocr.client_id
        FROM
        fd_project fp
        JOIN oauth_client_resource ocr ON ocr.source_id = fp.id
        AND ocr.source_type = 'project'
        WHERE
        fp.ORGANIZATION_ID = #{organizationId}
        )
        <if test="name != null and name != ''">
            <bind name="nameLike" value="'%' + name + '%'"/>
            AND oc.name LIKE #{nameLike}
        </if>
        <if test="params != null">
            <bind name="paramsLike" value="'%' + params + '%'"/>
            AND (oc.name LIKE #{paramsLike} or  oc.authorized_grant_types LIKE #{paramsLike})
        </if>
    </select>
</mapper>
