<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.MenuC7nMapper">
    <resultMap id="MenuMap" type="org.hzero.iam.domain.entity.Menu">
        <id column="id" property="id"/>
        <result column="h_inherit_flag" property="inheritFlag"/>
        <result column="h_create_flag" property="createFlag"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="h_permission_type" property="permissionType"/>
        <result column="h_controller_type" property="controllerType"/>
        <result column="h_quick_index" property="quickIndex"/>
        <result column="fd_level" property="level"/>
        <result column="parent_id" property="parentId"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="is_default" property="isDefault"/>
        <result column="icon" property="icon"/>
        <result column="route" property="route"/>
        <result column="h_custom_flag" property="customFlag"/>
        <result column="h_tenant_id" property="tenantId"/>
        <result column="h_enabled_flag" property="enabledFlag"/>
        <result column="h_description" property="description"/>
        <result column="h_level_path" property="levelPath"/>
        <result column="h_virtual_flag" property="virtualFlag"/>
        <result column="edit_detail_flag" property="editDetailFlag"/>
        <result column="new_subnode_flag" property="newSubnodeFlag"/>
        <result column="ps_leaf_flag" property="psLeafFlag"/>
        <result column="checked_flag" property="checkedFlag"/>
        <result column="parent_name" property="parentName"/>
        <result column="zh_name" property="zhName"/>
        <result column="en_name" property="enName"/>
        <result column="level_meaning" property="levelMeaning"/>
        <result column="type_meaning" property="typeMeaning"/>
        <result column="shield_flag" property="shieldFlag"/>
        <result column="sec_grp_acl_id" property="secGrpAclId"/>
    </resultMap>
    <!-- 查询角色菜单 -->
    <select id="selectRoleMenus" resultMap="MenuMap">
        <bind name="menuLabelDataType" value="@org.hzero.iam.domain.entity.Menu@LABEL_DATA_TYPE"/>

        select
        im.id,
        im.code,
        (case when imt.name is not null then imt.name else im.name end ) name,
        im.fd_level,
        im.parent_id,
        im.type,
        im.sort,
        im.icon,
        im.h_quick_index,
        (case when im.route is null then '' else im.route end) route
        from iam_menu im
        <if test="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(labels)">
            INNER JOIN hiam_label_rel hlr ON hlr.data_type = #{menuLabelDataType} AND hlr.data_id = im.id
            INNER JOIN iam_label il ON hlr.label_id = il.id AND il.name IN
            <foreach collection="labels" open="(" separator="," close=")" item="label">
                #{label}
            </foreach>
        </if>
        left join iam_menu_tl imt on imt.id = im.id and imt.lang = #{lang}
        where im.type in ('root', 'dir', 'menu', 'link', 'inner-link', 'window')
        and im.h_enabled_flag = 1
        and im.h_virtual_flag = 0
        and (im.h_tenant_id = 0 or im.h_tenant_id = #{tenantId})
        <if test="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(labels)">
            <bind name="labelsSize" value="labels.size()"/>
            AND (SELECT COUNT(1)
            FROM hiam_label_rel hlr
            INNER JOIN iam_label il ON hlr.label_id = il.id
            WHERE hlr.data_type = #{menuLabelDataType}
            AND hlr.data_id = im.id
            AND il.name IN
            <foreach collection="labels" open="(" separator="," close=")" item="label">
                #{label}
            </foreach>
            ) = #{labelsSize}
        </if>
    </select>


    <!-- 查询角色菜单 -->
    <select id="selectUserMenus" resultMap="MenuMap">
        <bind name="menuLabelDataType" value="@org.hzero.iam.domain.entity.Menu@LABEL_DATA_TYPE"/>

        select
        DISTINCT
        im.id,
        im.code,
        (case when imt.name is not null then imt.name else im.name end ) name,
        im.fd_level,
        im.parent_id,
        im.type,
        im.sort,
        im.icon,
        im.h_quick_index,
        (case when im.route is null then '' else im.route end) route
        from iam_menu im
        <if test="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(labels)">
            INNER JOIN hiam_label_rel hlr ON hlr.data_type = #{menuLabelDataType} AND hlr.data_id = im.id
            INNER JOIN iam_label il ON hlr.label_id = il.id AND il.name IN
            <foreach collection="labels" open="(" separator="," close=")" item="label">
                #{label}
            </foreach>
        </if>
        left join iam_menu_tl imt on imt.id = im.id and imt.lang = #{lang}
        where im.type in ('root', 'dir', 'menu', 'link', 'inner-link', 'window')
        and im.h_enabled_flag = 1
        and im.h_virtual_flag = 0
        <if test="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(labels)">
            <bind name="labelsSize" value="labels.size()"/>
            AND (SELECT COUNT(1)
            FROM hiam_label_rel hlr
            INNER JOIN iam_label il ON hlr.label_id = il.id
            WHERE hlr.data_type = #{menuLabelDataType}
            AND hlr.data_id = im.id
            AND il.name IN
            <foreach collection="labels" open="(" separator="," close=")" item="label">
                #{label}
            </foreach>
            ) = #{labelsSize}
        </if>

    </select>
</mapper>
