<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.MktAppPublishRecordMapper">
    <select id="selectOneByCodeAndVersion" resultType="io.choerodon.base.infra.dto.MktAppPublishRecordDTO">
        SELECT
            *
        FROM
            MKT_APP_PUBLISH_RECORD
        WHERE
            MKT_APP_CODE = #{code} and MKT_APP_VERSION = #{version}
        ORDER BY CREATION_DATE DESC
        LIMIT 1
    </select>
</mapper>
