<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.MktPublishApplicationMapper">
    <select id="countProjectApps" resultType="java.lang.Long">
        SELECT count(mpa.ID) AS app_num
        FROM MKT_PUBLISH_APPLICATION mpa
        LEFT JOIN FD_APPLICATION fa ON mpa.REF_APP_ID = fa.ID
        WHERE fa.PROJECT_ID = #{project_id};
    </select>

    <select id="pageSearchPublishApps" resultType="io.choerodon.base.api.vo.PublishAppPageVO">
        SELECT mpa.ID AS ID, mpa.REF_APP_ID AS REF_APP_ID, mpa.`NAME` AS `NAME`, mpa.IS_FREE AS FREE, mpa.DESCRIPTION AS DESCRIPTION, mpa.PUBLISH_TYPE AS PUBLISH_TYPE,
               mpvi.STATUS AS STATUS, fav.VERSION AS LATEST_VERSION, fa.`NAME` AS SOURCE_APP_NAME, mpvi.CREATION_DATE AS CREATION_DATE
        FROM FD_APPLICATION_VERSION fav
                 LEFT JOIN MKT_PUBLISH_APPLICATION mpa ON fav.ID = mpa.LATEST_VERSION_ID AND fav.APPLICATION_ID = mpa.REF_APP_ID
                 LEFT JOIN MKT_PUBLISH_VERSION_INFO mpvi ON fav.ID = mpvi.APPLICATION_VERSION_ID AND mpvi.PUBLISH_APPLICATION_ID = mpa.ID
                 LEFT JOIN FD_APPLICATION fa ON fa.ID = fav.APPLICATION_ID AND mpa.REF_APP_ID = fa.ID
        WHERE STATUS IS NOT NULL
        AND mpa.ID IN <foreach collection="app_ids" item="item" open="(" separator="," close=")">#{item}</foreach>
        <if test="filterDTO.free != null">
            AND mpa.IS_FREE = #{filterDTO.free}
        </if>
        <if test="filterDTO.publishType != null">
            AND mpa.PUBLISH_TYPE = #{filterDTO.publishType}
        </if>
        <if test="filterDTO.sourceApplicationName != null">
            AND fa.`NAME` LIKE concat('%', concat(#{filterDTO.sourceApplicationName},'%'))
        </if>
        <if test="status != null and status == 'unpublished'">
            AND mpvi.STATUS IN ('unpublished', 'withdrawn', 'rejected')
        </if>
        <if test="status != null and status == 'publishing'">
            AND mpvi.STATUS IN ('under_approval', 'unconfirmed')
        </if>
        <if test="status != null and status == 'published'">
            AND mpvi.STATUS IN ('published')
        </if>
        <if test="version != null">
            AND fav.VERSION LIKE concat('%', concat(#{version},'%'))
        </if>
        <if test="filterDTO.name != null">
            AND mpa.`NAME` LIKE concat('%', concat(#{filterDTO.name},'%'))
        </if>
        <if test="filterDTO.description != null">
            AND mpa.description LIKE concat('%', concat(#{filterDTO.description},'%'))
        </if>
        <if test="params != null">
            AND
            <foreach item="param" index="index" collection="params"
                     open="(" separator="AND" close=")">
                mpa.`NAME` LIKE concat('%', concat(#{param},'%')) OR
                fa.`NAME` LIKE concat('%', concat(#{param},'%'))
            </foreach>
        </if>
    </select>

    <select id="checkName" resultType="io.choerodon.base.infra.dto.MktPublishApplicationDTO">
        SELECT
        id,
        NAME
        FROM
        MKT_PUBLISH_APPLICATION
        WHERE
        NAME = #{name}
        <if test="ref_app_id!=null">
            AND REF_APP_ID != #{ref_app_id}
        </if>
    </select>


    <select id="getUpdateList" resultType="io.choerodon.base.infra.dto.mkt.ApproveStatusVO">
        SELECT
            av.VERSION,
            a.CODE,
            info.STATUS,
            info.TIMES_OF_FIXES AS latestFixVersion
        FROM
            MKT_PUBLISH_VERSION_INFO info
            LEFT JOIN MKT_PUBLISH_APPLICATION ma ON info.PUBLISH_APPLICATION_ID = ma.ID
            LEFT JOIN FD_APPLICATION a ON ma.REF_APP_ID = a.id
            LEFT JOIN FD_APPLICATION_VERSION av ON info.APPLICATION_VERSION_ID = av.ID
        WHERE
            a.PROJECT_ID = #{project_id}
            AND info.`STATUS` IN ('under_approval','unconfirmed','published')
    </select>
</mapper>
