<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.OrganizationCategoryMapper">
    <select id="selectByParam" resultType="io.choerodon.base.infra.dto.OrganizationCategoryDTO">
        SELECT
        *
        FROM
        fd_organization_category foc
        where
        1=1
        <if test="organizationCategoryDTO.name != null">
            AND foc.name LIKE concat(concat('%',#{organizationCategoryDTO.name}),'%')
        </if>
        <if test="organizationCategoryDTO.code != null">
            AND foc.code LIKE concat(concat('%',#{organizationCategoryDTO.code}),'%')
        </if>
        <if test="organizationCategoryDTO.description != null">
            AND foc.description LIKE concat(concat('%',#{organizationCategoryDTO.description}),'%')
        </if>
        <if test="param != null">
            AND name LIKE concat(concat('%',#{param}),'%')
        </if>
    </select>
</mapper>