<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.ProjectCategoryMapper">

    <select id="fuzzyQuery" resultType="io.choerodon.iam.infra.dto.ProjectCategoryDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>

        SELECT
        fpc.id,
        fpc.label_code,
        fpc.code,
        fpct.name,
        fpc.description,
        fpc.organization_id,
        fpc.display_flag,
        fpc.built_in_flag,
        fpc.object_version_number,
        fpc.sequence
        FROM fd_project_category
        JOIN fd_project_category_tl fpct on fpct.id = fpc.id and fpct.lang= #{lang}

        WHERE 1=1
        <if test="name != null">
            AND NAME LIKE concat(concat('%',#{name}),'%')
        </if>
        <if test="code != null">
            AND code LIKE concat(concat('%',#{code}),'%')
        </if>
        <if test="param != null">
            AND (
            NAME LIKE concat(concat('%',#{param}),'%')
            OR code LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>

    <select id="ListIdByCodes" resultType="java.lang.Long">
        SELECT
            fpc.id
        FROM
            fd_project_category fpc
        WHERE
            fpc.`CODE` IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <select id="listByProjectId" resultType="io.choerodon.iam.infra.dto.ProjectCategoryDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        fpc.id,
        fpc.label_code,
        fpc.code,
        fpct.name,
        fpc.description,
        fpc.organization_id,
        fpc.display_flag,
        fpc.built_in_flag,
        fpc.object_version_number,
        fpc.sequence
        from fd_project_map_category fpmc
        inner join fd_project_category fpc on fpmc.CATEGORY_ID = fpc.ID
        JOIN fd_project_category_tl fpct on fpct.id = fpc.id and fpct.lang= #{lang}
        where fpmc.PROJECT_ID = #{projectId}
    </select>
</mapper>