<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.base.infra.mapper.ProjectRelationshipMapper">

    <resultMap id="ProjectRelationshipUser" type="io.choerodon.base.infra.dto.ProjectRelationshipDTO">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId" />
        <result column="parent_id" property="parentId" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="enabled" property="enabled" />
        <result column="program_id" property="programId" />
        <result column="creation_date" property="creationDate" />
        <association property="responsibilityUser" javaType="io.choerodon.base.api.vo.UserVO">
            <id column="id" property="id"/>
            <result column="is_ldap" property="ldap"/>
            <result column="login_name" property="loginName"/>
            <result column="email" property="email"/>
            <result column="real_name" property="realName"/>
            <result column="image_url" property="imageUrl"/>
            <result column="profile_photo" property="profilePhoto"/>
        </association>
    </resultMap>
    <select id="selectProjectsByParentId" resultMap="ProjectRelationshipUser">
        SELECT
        fpr.*,
        fpr.IS_ENABLED AS enabled,
        fp.CODE AS projCode,
        fp.NAME AS projName,
        iu.id,
        iu.login_name,
        iu.real_name,
        iu.email,
        iu.is_ldap,
        iu.image_url,
        iu.profile_photo
        FROM
        fd_project_relationship fpr
        LEFT JOIN fd_project fp ON fpr.PROJECT_ID = fp.ID
        LEFT JOIN iam_user iu on  iu.id=fpr.RESPONSIBILITY_USER_ID
        WHERE
        fpr.PARENT_ID = #{parentId}
        <if test="onlySelectEnable">
            and fpr.is_enabled = 1
        </if>
    </select>

    <select id="selectProgramsByProjectId" resultType="io.choerodon.base.infra.dto.ProjectDTO">
        SELECT FP.CODE,FP.NAME
        FROM FD_PROJECT_RELATIONSHIP FPR
        LEFT JOIN FD_PROJECT FP ON FPR.PROGRAM_ID = FP.ID
        WHERE FPR.PROJECT_ID = #{projectId} AND FPR.PROGRAM_ID IS NOT NULL
        <if test="onlySelectEnable">
            and FPR.IS_ENABLED = 1
        </if>
    </select>
</mapper>
