<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.QuickLinkMapper">

    <sql id="sortQuickLink">
        ORDER BY fspur.sort DESC, fspur.project_id ASC,  top_flag DESC, last_update_date DESC
    </sql>

    <resultMap id="quickLinkMap" type="io.choerodon.iam.api.vo.QuickLinkVO" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="projectName" column="project_name"/>
        <result property="linkUrl" column="link_url"/>
        <result property="scope" column="scope"/>
        <result property="top" column="top_flag"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="projectId" column="project_id"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>

        <association property="user" javaType="org.hzero.iam.domain.entity.User">
            <id property="id" column="user_id"/>
            <result property="loginName" column="login_name"/>
            <result property="realName" column="real_name"/>
            <result property="imageUrl" column="image_url"/>
        </association>
    </resultMap>

    <select id="querySelf" resultMap="quickLinkMap">
        SELECT
        fql.*,
        iu.id as user_id, iu.login_name, iu.real_name, iu.image_url
        FROM fd_quick_link fql
        INNER JOIN iam_user iu ON iu.id = fql.create_user_id
        <where>
            fql.create_user_id = #{userId} AND fql.scope = 'self'
        </where>
        ORDER BY top_flag DESC, last_update_date DESC
    </select>
    <select id="queryProjectByPids" resultMap="quickLinkMap">
        SELECT
        fql.*,
        iu.id as user_id, iu.login_name, iu.real_name, iu.image_url,
        fp.name AS project_name,
        fp.IMAGE_URL AS project_image,
        fp.CREATION_DATE AS project_creation_date
        FROM fd_quick_link fql
        LEFT JOIN fd_project fp ON fp.id = fql.project_id
        INNER JOIN iam_user iu ON iu.id = fql.create_user_id
        LEFT JOIN fd_star_project_user_rel fspur on fp.id = fspur.PROJECT_ID and fspur.USER_ID = #{userId}
        <where>
            fql.scope = 'project'
            <if test="projectId == null and pIds != null and pIds.size() != 0">
                AND fql.project_id IN
                <foreach collection="pIds" index="i" item="pid" open="(" separator="," close=")">
                    #{pid}
                </foreach>
            </if>
            <if test="projectId != null">
                AND fql.project_id = #{projectId}
            </if>
        </where>
        <include refid="sortQuickLink"/>
    </select>
    <select id="queryAllProject" resultMap="quickLinkMap">
        SELECT
        fql.*,
        iu.id as user_id, iu.login_name, iu.real_name, iu.image_url,
        fp.name AS project_name,
        fp.IMAGE_URL AS project_image,
        fp.CREATION_DATE AS project_creation_date
        FROM fd_quick_link fql
        LEFT JOIN fd_project fp ON fp.id = fql.project_id
        INNER JOIN iam_user iu ON iu.id = fql.create_user_id
        LEFT JOIN fd_star_project_user_rel fspur on fp.id = fspur.PROJECT_ID and fspur.USER_ID = #{userId}
        <where>
            fql.scope = 'project'
            <if test="projectId == null">
                AND fp.ORGANIZATION_ID = #{organizationId}
            </if>
            <if test="projectId != null">
                AND fql.project_id = #{projectId}
            </if>
        </where>
        <include refid="sortQuickLink"/>
    </select>


</mapper>
