<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.QuickLinkMapper">

     <resultMap id="quickLinkMap" type="io.choerodon.iam.api.vo.QuickLinkVO" autoMapping="true">
        <association property="user" javaType="org.hzero.iam.domain.entity.User">
            <id property="id" column="user_id"/>
            <result property="loginName" column="login_name"/>
            <result property="realName" column="real_name"/>
            <result property="imageUrl" column="image_url"/>
        </association>
      </resultMap>
    <select id="queryByPids" resultMap="quickLinkMap">
        SELECT
          fql.*,
          iu.id as user_id, iu.login_name, iu.real_name, iu.image_url,
          case when fql.scope='self' then 1 else 0 end as sort
        FROM fd_quick_link fql
        INNER JOIN iam_user iu ON iu.id = fql.create_user_id
        <where>
            <if test="projectId == null">
                 (fql.create_user_id = #{userId} AND fql.scope = 'self')
                 <if test="pIds != null and pIds.size() != 0">
                     OR (fql.scope = 'project'
                     AND fql.project_id IN
                         <foreach collection="pIds" index="i" item="pid" open="(" separator="," close=")">
                             #{pid}
                        </foreach>
                        )
                 </if>
            </if>
            <if test="projectId != null">
                 (fql.project_id = #{projectId} AND fql.scope = 'project') OR (fql.create_user_id = #{userId} AND fql.scope = 'self')
            </if>
        </where>
        ORDER BY sort DESC
    </select>
    <select id="queryAll" resultMap="quickLinkMap">
        SELECT
          fql.*,
          iu.id as user_id, iu.login_name, iu.real_name, iu.image_url,
          case when fql.scope='self' then 1 else 0 end as sort
        FROM fd_quick_link fql
        LEFT JOIN fd_project fp ON fp.id = fql.project_id
        INNER JOIN iam_user iu ON iu.id = fql.create_user_id
        <where>
            <if test="projectId == null">
                 (fp.ORGANIZATION_ID = #{organizationId} AND fql.scope = 'project') OR (fql.create_user_id = #{userId} AND fql.scope = 'self')
            </if>
            <if test="projectId != null">
                 (fql.project_id = #{projectId} AND fql.scope = 'project') OR (fql.create_user_id = #{userId} AND fql.scope = 'self')
            </if>
        </where>
        ORDER BY sort DESC
    </select>

</mapper>
