<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.RemoteConnectionRecordMapper">
    <select id="searchByParams" resultType="io.choerodon.base.api.vo.RemoteConnectionRecordVO">
        SELECT
        rcr.id,
        rt.id AS remoteTokenId,
        rt.EMAIL,
        rt.CREATION_DATE AS connectDate,
        rt. NAME,
        o.NAME AS organizationName,
        rcr.SOURCE_IP,
        rt.REMOTE_TOKEN
        FROM
        FD_REMOTE_CONNECTION_RECORD rcr
        LEFT JOIN FD_REMOTE_TOKEN rt ON rcr.REMOTE_TOKEN_ID = rt.ID
        LEFT JOIN FD_ORGANIZATION o ON rt.ORGANIZATION_ID = o.ID
        where 1=1
        <if test="filterVO.email != null">
            AND rt.EMAIL like concat(concat('%',#{filterVO.email}),'%')
        </if>
        <if test="filterVO.sourceIp != null">
            AND rcr.SOURCE_IP like concat(concat('%',#{filterVO.sourceIp}),'%')
        </if>
        <if test="filterVO.organizationName != null">
            AND o.name like concat(concat('%',#{filterVO.organizationName}),'%')
        </if>
        <if test="filterVO.name != null">
            AND rt.name like concat(concat('%',#{filterVO.name}),'%')
        </if>
        <if test="params != null">
            <foreach collection="params" index="index" item="param">
                AND (
                rt. NAME LIKE concat(concat('%',#{param}),'%') OR
                o. NAME LIKE concat(concat('%',#{param}),'%')
                )
            </foreach>
        </if>
    </select>

    <resultMap id="pageOrgRemoteTokenConnRecordsMap" type="io.choerodon.base.api.vo.OrgRemoteTokenConnRecordVO">
        <id property="id" column="ID"></id>
        <result property="connectTime" column="CREATION_DATE"></result>
        <result property="remoteTokenId" column="REMOTE_TOKEN_ID"></result>
        <result property="remoteToken" column="REMOTE_TOKEN"></result>
        <result property="expired" column="IS_EXPIRED"></result>
        <result property="sourceIp" column="SOURCE_IP"></result>
        <result property="operation" column="OPERATION"></result>
        <result property="organizationId" column="ORG_ID"></result>
        <result property="organizationName" column="ORG_NAME"></result>
        <result property="organizationRemoteTokenEnabled" column="IS_ORG_RT_ENABLED"></result>
        <result property="organizationImageUrl" column="ORG_IMAGE_URL"></result>
        <result property="organizationObjectVersionNumber" column="ORG_OBJECT_VERSION_NUMBER"></result>
    </resultMap>
    <select id="pageOrgRemoteTokenConnRecords" parameterType="io.choerodon.base.api.vo.OrgRemoteTokenConnRecordVO" resultMap="pageOrgRemoteTokenConnRecordsMap">
        SELECT
        <if test="queryOrgIDs == null">
            rt_c_c.*,
            rt.REMOTE_TOKEN AS REMOTE_TOKEN,rt.IS_EXPIRED AS IS_EXPIRED,
            org.ID AS ORG_ID, org.NAME AS ORG_NAME, org.IS_REMOTE_TOKEN_ENABLED AS IS_ORG_RT_ENABLED, org.IMAGE_URL AS ORG_IMAGE_URL,
            org.OBJECT_VERSION_NUMBER AS ORG_OBJECT_VERSION_NUMBER
        </if>
        <if test="queryOrgIDs != null">
            org.ID AS ORG_ID, org.NAME AS ORG_NAME,MAX(rt_c_c.CREATION_DATE) AS CREATION_DATE
        </if>
        FROM FD_REMOTE_CONNECTION_RECORD rt_c_c
        LEFT JOIN FD_REMOTE_TOKEN rt ON rt_c_c.REMOTE_TOKEN_ID = rt.ID
        LEFT JOIN FD_ORGANIZATION org ON rt.ORGANIZATION_ID = org.ID
        <where>
            rt_c_c.OPERATION = #{operation}
            <if test="queryOrgIDs == null and organizationId != null">
                AND org.ID = #{organizationId}
            </if>
            <if test="queryOrgIDs == null and connectTime != null">
                AND rt_c_c.CREATION_DATE = #{connectTime}
            </if>
            <if test="organizationName != null">
                AND  org.NAME LIKE concat(concat('%', #{organizationName}), '%')
            </if>
            <if test="organizationRemoteTokenEnabled != null">
                AND  org.IS_REMOTE_TOKEN_ENABLED = #{organizationRemoteTokenEnabled}
            </if>
            <if test="expired != null">
                AND  rt.IS_EXPIRED = #{expired}
            </if>
            <if test="params != null">
                <foreach collection="params" index="index" item="param">
                    AND org.NAME LIKE concat(concat('%',#{param}),'%')
                </foreach>
            </if>
        </where>
        <if test="queryOrgIDs != null">
            GROUP BY org.ID
            ORDER BY CREATION_DATE DESC
        </if>
    </select>
    <resultMap id="pageOrgRemoteTokenConnRecordsByOrgIdMap" type="io.choerodon.base.api.vo.OrgRemoteTokenConnRecordVO" extends="pageOrgRemoteTokenConnRecordsMap">
        <result property="name" column="RT_NAME"></result>
        <result property="email" column="RT_EMAIL"></result>
    </resultMap>
    <select id="pageOrgRemoteTokenConnRecordsByOrgId" parameterType="io.choerodon.base.api.vo.OrgRemoteTokenConnRecordVO" resultMap="pageOrgRemoteTokenConnRecordsByOrgIdMap">
        SELECT rt_c_c.*,
        rt.REMOTE_TOKEN AS REMOTE_TOKEN,rt.IS_EXPIRED AS IS_EXPIRED, rt.NAME AS RT_NAME, rt.email AS RT_EMAIL,
        org.ID AS ORG_ID, org.NAME AS ORG_NAME, org.IS_REMOTE_TOKEN_ENABLED AS IS_ORG_RT_ENABLED
        FROM FD_REMOTE_CONNECTION_RECORD rt_c_c
        LEFT JOIN FD_REMOTE_TOKEN rt ON rt_c_c.REMOTE_TOKEN_ID = rt.ID
        LEFT JOIN FD_ORGANIZATION org ON rt.ORGANIZATION_ID = org.ID
        <where>
            org.ID = #{organizationId}
            <if test="operation != null">
                AND operation = #{operation}
            </if>
            <if test="name != null">
                AND rt.NAME LIKE concat(concat('%', #{name}), '%')
            </if>
            <if test="email != null">
                AND rt.email LIKE concat(concat('%', #{email}), '%')
            </if>
            <if test="sourceIp != null">
                AND `source_ip` LIKE concat(concat('%', #{sourceIp}), '%')
            </if>
            <if test="params != null">
                <foreach collection="params" index="index" item="param">
                    AND rt.NAME LIKE concat(concat('%',#{param}),'%')
                </foreach>
            </if>
        </where>
    </select>
</mapper>
