<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.RemoteTokenMapper">
    <select id="selectLatestUnderOrg" resultType="io.choerodon.base.api.dto.RemoteTokenBase64VO">
        SELECT
            id,
            ORGANIZATION_ID,
            NAME,
            EMAIL,
            REMOTE_TOKEN,
            IS_EXPIRED AS expired,
            CREATION_DATE,
            LATEST_EXPIRATION_TIME
        FROM
            FD_REMOTE_TOKEN
        WHERE
            ORGANIZATION_ID = #{orgId}
        ORDER BY
            CREATION_DATE DESC
        LIMIT 1
    </select>

    <select id="filterHistoryUnderOrg" resultType="io.choerodon.base.api.dto.RemoteTokenBase64VO">
        SELECT
        id,
        ORGANIZATION_ID,
        NAME,
        EMAIL,
        REMOTE_TOKEN,
        IS_EXPIRED AS expired,
        CREATION_DATE,
        LATEST_EXPIRATION_TIME
        FROM
        FD_REMOTE_TOKEN
        WHERE
        ORGANIZATION_ID = #{orgId}
        <if test="excludedId != null">
            AND id != #{excludedId}
        </if>
        <if test="filterDTO.name != null">
            AND name LIKE concat(concat('%',#{filterDTO.name}),'%')
        </if>
        <if test="params != null">
            AND (
            NAME LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        ORDER BY
        CREATION_DATE DESC
    </select>
    
    
    <select id="selectOrganization" resultType="io.choerodon.base.infra.dto.OrganizationDTO">
        SELECT
            o.*
        FROM
            fd_remote_token rt
            LEFT JOIN fd_organization o ON rt.ORGANIZATION_ID = o.id
        WHERE
            rt.REMOTE_TOKEN = #{remote_token}
    </select>
</mapper>
