<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ReportMapper">

    <select id="selectByProjectId" resultType="io.choerodon.iam.infra.dto.ReportDTO">
        SELECT
            fr.*
        FROM
            FD_REPORT fr
            JOIN FD_PROJECT_MAP_CATEGORY fpmc ON fpmc.PROJECT_ID = #{projectId}
            JOIN FD_PROJECT_CATEGORY fpc ON fpc.id = fpmc.CATEGORY_ID
            JOIN FD_REPORT_PROJECT_CATEGORY frpc ON frpc.REPORT_ID = fr.id
            AND frpc.PROJECT_CATEGORY = fpc.`CODE`
        GROUP BY fr.ID
    </select>

</mapper>
