<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.RoleC7nMapper">
    <resultMap id="RoleMap" type="org.hzero.iam.domain.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="fd_level" property="level"/>
        <result column="h_tenant_id" property="tenantId"/>
        <result column="h_inherit_role_id" property="inheritRoleId"/>
        <result column="h_parent_role_id" property="parentRoleId"/>
        <result column="h_parent_role_assign_level" property="parentRoleAssignLevel"/>
        <result column="h_parent_role_assign_level_val" property="parentRoleAssignLevelValue"/>
        <result column="h_level_path" property="levelPath"/>
        <result column="h_inherit_level_path" property="inheritLevelPath"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="tenant_num" property="tenantNum"/>
        <result column="created_by_tenant_id" property="createdByTenantId"/>
        <result column="created_by_tenant_num" property="createdByTenantNum"/>
        <result column="parent_role_assign_level_code" property="parentRoleAssignLevelCode"/>
    </resultMap>
    <!--建立boolean映射关系-->
    <resultMap id="RoleDTO" type="io.choerodon.iam.api.vo.RoleVO" autoMapping="true">
        <id column="id" property="id"/>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        <result column="is_modified" property="modified" jdbcType="BOOLEAN"/>
        <result column="is_enable_forbidden" property="enableForbidden" jdbcType="BOOLEAN"/>
        <result column="is_built_in" property="builtIn" jdbcType="BOOLEAN"/>
    </resultMap>

    <resultMap id="UserRoleVO" type="io.choerodon.iam.api.vo.UserRoleVO" autoMapping="true">
        <id property="id" column="id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="level" column="source_type"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="roleNames" column="roles"/>
        <result property="projName" column="proj_name"/>
    </resultMap>

    <select id="queryRolesInfoByUser" resultMap="RoleDTO">
        SELECT role.*
        FROM
        iam_role role
        LEFT JOIN iam_member_role imr ON role.id = imr.role_id
        WHERE
        imr.member_id = #{userId}
        AND imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
    </select>

    <select id="queryRolesInfoByUserIds" resultMap="RoleDTO">
        SELECT role.*,
        imr.member_id AS user_id
        FROM
        iam_role role
        LEFT JOIN iam_member_role imr ON role.id = imr.role_id
        WHERE
        imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        AND imr.member_id IN
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>


    <select id="getByTenantIdAndLabel" resultMap="RoleMap">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE"/>
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN hiam_label_rel hlr ON ir.id = hlr.data_id
        INNER JOIN iam_label il ON hlr.label_id = il.id
        WHERE ir.h_tenant_id = #{tenantId} AND hlr.data_type = #{roleLabelDataType} AND il.`name` = #{labelName}
    </select>

    <select id="selectRolesByLabelNameAndType" resultMap="RoleDTO">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE"/>
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN hiam_label_rel hlr ON (ir.id = hlr.data_id and hlr.data_type = #{roleLabelDataType})
        LEFT JOIN iam_label il ON hlr.label_id = il.id
        WHERE il.name = #{name}
        AND il.type = #{type}
        <choose>
            <when test="organizationId != null">
                AND ir.h_tenant_id = #{organizationId}
            </when>
            <otherwise>
                AND ir.h_tenant_id is null
            </otherwise>
        </choose>
    </select>
    <select id="listRolesByTenantIdAndLableWithOptions" resultType="org.hzero.iam.domain.entity.Role">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE"/>
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN hiam_label_rel hlr ON ir.id = hlr.data_id
        INNER JOIN iam_label il ON hlr.label_id = il.id
        <where>
            hlr.data_type = #{roleLabelDataType} AND ir.h_tenant_id = #{tenantId} AND il.name = #{labelName} AND il.type
            = 'ROLE'
            <!-- 模糊匹配role.name -->
            <if test="param != null and param.name != null">
                AND ir.name LIKE concat(concat('%', #{param.name}), '%')
            </if>
        </where>
    </select>
    <select id="getOrgAdminByUserIdAndTenantId" resultType="org.hzero.iam.domain.entity.Role">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE"/>
        SELECT ir.*
        FROM iam_member_role imr
        LEFT JOIN iam_role ir ON ir.id = imr.role_id
        LEFT JOIN hiam_label_rel hlr on hlr.data_id = ir.id
        LEFT JOIN iam_label il ON il.id = hlr.label_id
        WHERE imr.member_type = 'user' AND imr.source_type = 'organization' AND imr.source_id = #{tenantId}
        AND imr.member_id = 1
        AND hlr.data_type = #{roleLabelDataType}
        AND il.name = 'TENANT_ADMIN' OR ir.`code` = 'role/organization/default/administrator'
    </select>

    <select id="selectRoles" resultMap="UserRoleVO">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE"/>
        SELECT *
        FROM (
          <if test="level == null or level == 'site'">
            SELECT
            0 AS id,
            'Choerodon' AS name,
            'Choerodon' AS code,
            1 AS is_enabled,
            imr.source_type,
            GROUP_CONCAT(concat(concat(concat(concat(ir.code, '|'), ir.name), '|'), ir.is_enabled)) AS roles,
            'site' as image_url,
            null AS proj_name,
            0 as sort
            FROM iam_member_role imr
            INNER JOIN iam_role ir ON imr.role_id = ir.id
            WHERE imr.member_type = 'user' AND imr.source_type = 'site' AND imr.member_id = #{userId}
            <if test="name != null">
                AND 'Choerodon' LIKE concat(concat('%', #{name}), '%')
            </if>
            <if test="params != null">
                AND 'Choerodon' LIKE concat(concat('%', #{params}), '%')
            </if>
            GROUP BY imr.source_type
        </if>
        <if test="level == null">
            UNION
        </if>
        <if test="level == null or level == 'organization'">
            SELECT
            fo.tenant_id AS id,
            fo.tenant_name AS name,
            fo.tenant_num AS code,
            fo.enabled_flag AS is_enabled,
            imr.source_type,
            GROUP_CONCAT(concat(concat(concat(concat(ir.code, '|'), ir.name), '|'), ir.is_enabled)) AS roles,
            'organization' as image_url,
            null AS proj_name,
            1 as sort
            FROM iam_member_role imr
            INNER JOIN iam_role ir ON imr.role_id = ir.id
            inner join hiam_label_rel hlr on (hlr.data_type = #{roleLabelDataType} and hlr.data_id = ir.id)
            inner join iam_label il on il.id = hlr.label_id
            INNER JOIN hpfm_tenant fo ON imr.source_id = fo.tenant_id
            WHERE imr.member_type = 'user' AND imr.source_type = 'organization' AND imr.member_id = #{userId} AND
            fo.enabled_flag = 1 AND il.name = 'TENANT_ROLE'
            <if test="name != null">
                AND fo.tenant_name LIKE concat(concat('%', #{name}), '%')
            </if>
            <if test="params != null">
                AND fo.tenant_name LIKE concat(concat('%', #{params}), '%')
            </if>
            group by fo.tenant_id
        </if>
        <if test="level == null">
            UNION
        </if>
        <if test="level == null or level == 'project'">
            SELECT
            fp.id,
            CONCAT(fo.tenant_name, CONCAT(' / ', fp.name)) AS name,
            fp.code,
            fp.is_enabled,
            'project' as source_type,
            GROUP_CONCAT(concat(concat(concat(concat(ir.code, '|'), ir.name), '|'), ir.is_enabled)) AS roles,
            fp.image_url,
            fp.name AS proj_name,
            2 as sort
            FROM iam_member_role imr
            inner join fd_project_permission fpu on fpu.MEMBER_ROLE_ID = imr.id
            INNER JOIN fd_project fp ON fpu.PROJECT_ID = fp.id
            INNER JOIN iam_role ir ON imr.role_id = ir.id
            inner join hiam_label_rel hlr on (hlr.data_type = #{roleLabelDataType} AND hlr.data_id = ir.id)
            inner join iam_label il on il.id = hlr.label_id
            INNER JOIN hpfm_tenant fo ON fp.organization_id = fo.tenant_id
            WHERE imr.member_type = 'user' AND imr.source_type = 'organization' AND imr.member_id = #{userId} AND
            fp.is_enabled = 1 AND il.name = 'PROJECT_ROLE'
            <if test="name != null">
                AND fp.name LIKE concat(concat('%', #{name}), '%')
            </if>
            <if test="params != null">
                AND (fp.name LIKE concat(concat('%', #{params}), '%') OR fo.tenant_name LIKE concat(concat('%', #{params}), '%'))
            </if>
            group by fp.id

        </if>
        ) user_role
        ORDER BY sort asc
    </select>

    <select id="fuzzySearchRolesByName" resultType="io.choerodon.iam.api.vo.RoleVO">
        SELECT
        ir.*
        FROM
        iam_role ir
        inner JOIN hiam_label_rel hlr on hlr.data_id=ir.id
        INNER JOIN iam_label il on il.id=hlr.label_id and il.name=#{labelName}
        WHERE
        ir.fd_level = #{sourceType}
        <if test="sourceType == 'organization' and sourceId != null">
            AND ir.h_tenant_id =#{sourceId}
        </if>
        <if test="roleName != null">
            AND ir.NAME LIKE CONCAT('%', CONCAT(#{roleName}, '%'))
        </if>
        <if test="onlySelectEnable">
            AND ir.is_enabled = 1
        </if>
    </select>


    <select id="fulltextSearch" resultMap="RoleDTO">
        SELECT
        ir.*
        FROM
        iam_role ir
        inner JOIN hiam_label_rel hlr on hlr.data_id=ir.id
        INNER JOIN iam_label il on il.id=hlr.label_id
        <where>
            ir.fd_level = #{level} AND ir.h_tenant_id =#{tenantId}
            <if test="name != null">
                and ir.name like concat(concat('%',#{name}), '%')
            </if>
            <if test="code != null">
                and ir.code like concat(concat('%',#{code}), '%')
            </if>
            <if test="enabled != null">
                and ir.is_enabled = #{enabled}
            </if>
            <if test="builtIn != null">
                and ir.is_built_in = #{builtIn}
            </if>
            <if test="labelName!=null">
                and il.name=#{labelName}
            </if>
            and il.name in ('TENANT_ROLE','PROJECT_ROLE')
            <if test="params != null">
                and (
                ir.name like concat(concat('%',#{params}), '%') OR
                ir.code like concat(concat('%',#{params}), '%')
                )
            </if>
        </where>
        group by ir.id
        order by
        ir.is_modified ASC,
        ir.is_enabled DESC,
        ir.id DESC
    </select>
    <select id="getTenantAdminRole" resultType="org.hzero.iam.domain.entity.Role">
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN hiam_label_rel hlr ON ir.id = hlr.data_id
        INNER JOIN iam_label il ON hlr.label_id = il.id
        WHERE ir.h_tenant_id = #{organizationId} AND hlr.data_type = 'ROLE' AND il.`name` = 'TENANT_ADMIN' AND ir.id not
        in
        (SELECT ir.id
        FROM iam_role ir
        LEFT JOIN hiam_label_rel hlr ON ir.id = hlr.data_id
        INNER JOIN iam_label il ON hlr.label_id = il.id
        WHERE ir.h_tenant_id = #{organizationId} AND hlr.data_type = 'ROLE' AND il.`name` = 'TENANT_ROLE_TPL')
    </select>
    <select id="listRoleLabels" resultType="org.hzero.iam.domain.entity.Label">
        SELECT il.*
        FROM hiam_label_rel hlr
        JOIN iam_label il ON il.id = hlr.label_id
        WHERE hlr.data_type = 'ROLE' AND hlr.data_id = #{roleId}
    </select>

    <select id="listRolesByName" resultType="org.hzero.iam.api.dto.RoleDTO">
        SELECT
        ir.*
        FROM
        iam_role ir
        INNER JOIN hiam_label_rel hlr ON hlr.data_id = ir.id
        INNER JOIN iam_label il ON il.id = hlr.label_id
        <choose>
            <when test="labelName!=null ">
                AND il. NAME = #{labelName}
            </when>
            <otherwise>
                AND il. NAME = 'TENANT_ROLE'
            </otherwise>
        </choose>
        WHERE
        ir.fd_level = 'organization'
        AND ir.h_tenant_id = #{tenantId}
        <if test="name != null">
            and ir.name like concat(concat('%',#{name}), '%')
        </if>
        <if test="code!=null">
            AND ir.code like concat(concat('%',#{code}), '%')
        </if>
        <if test="enabled != null">
            and ir.is_enabled = #{enabled}
        </if>
    </select>
    <select id="listProjectRoleByProjectIdAndUserId" resultMap="RoleMap">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE"/>
        SELECT ir.*
        FROM iam_member_role imr
        INNER JOIN iam_role ir ON ir.id = imr.role_id
        INNER JOIN hiam_label_rel hlr ON hlr.data_type = #{roleLabelDataType} AND data_id = ir.id
        INNER JOIN iam_label il ON il.id = hlr.label_id
        INNER JOIN fd_project_permission fpu ON fpu.MEMBER_ROLE_ID = imr.id
        <where>
            imr.member_type = 'user' AND imr.member_id =#{userId}
            AND fpu.PROJECT_ID = #{projectId} AND il.name = 'PROJECT_ROLE'
        </where>
        group by ir.id
    </select>
    <select id="listByLabelNames" resultMap="RoleMap">
        <bind name="roleLabelDataType" value="@org.hzero.iam.domain.entity.Role@LABEL_DATA_TYPE" />
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN hiam_label_rel hlr ON ir.id = hlr.data_id
        INNER JOIN iam_label il ON hlr.label_id = il.id
        <where>
            hlr.data_type = #{roleLabelDataType} AND ir.h_tenant_id = #{tenantId}
            AND il.type = 'ROLE'
           AND il.name = #{labelName}
         </where>
    </select>
    <select id="listOrgByUserIdAndTenantIds" resultType="java.lang.Long">
          SELECT imr.source_id
          FROM iam_member_role imr
          inner join iam_role ir on ir.id = imr.role_id
          INNER JOIN iam_role_permission irp ON imr.role_id = irp.role_id
          INNER JOIN iam_menu im ON im.id = irp.permission_id
          INNER JOIN hiam_label_rel hlr ON (hlr.data_type = 'MENU' AND hlr.data_id = im.id)
          INNER JOIN iam_label il ON il.id = hlr.label_id
          WHERE ir.is_enabled = 1 and il.name = 'TENANT_MENU' AND imr.member_type = 'user' AND imr.member_id = #{userId}
          AND imr.source_type = 'organization' AND imr.source_id IN
          <foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
              #{orgId}
          </foreach>
          GROUP BY imr.source_id
    </select>
    <select id="listByTenantId" resultMap="RoleMap">
        SELECT *
        FROM iam_role ir
        WHERE ir.h_tenant_id = #{tenantId}
    </select>
    <select id="listChildRoleByTplRoleId" resultMap="RoleMap">
          SELECT ir.*
          FROM iam_role ir
          WHERE ir.h_inherit_role_id = #{roleId}
    </select>
    
    <select id="listLabelByTenantIdAndUserId" resultType="java.lang.String">
        SELECT
            DISTINCT il. NAME
        FROM
            iam_label il
            JOIN iam_member_role imr ON imr.member_id = #{userId}
            JOIN iam_role ir ON imr.role_id = ir.id
                                AND ir.fd_level = 'organization'
                                AND ir.h_tenant_id = #{tenantId}
            JOIN hiam_label_rel hlr ON hlr.data_id = ir.id
                                       AND hlr.data_type = 'ROLE'
        WHERE
            il.id = hlr.label_id
            AND il.`name` LIKE concat(concat('%', 'TENANT'), '%')
    </select>
    
    <select id="listMemberRolesForProjectClient" resultType="org.hzero.iam.domain.entity.Role">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
            imr.id member_role_id,
            ir.id,
            ir. CODE AS CODE,
            ir.fd_level,
            irt. NAME AS NAME,
            ir.h_tenant_id,
            ir.h_parent_role_assign_level,
            ir.h_parent_role_assign_level_val,
            imr.start_date_active,
            imr.end_date_active
        FROM
            iam_member_role imr
            JOIN iam_role ir ON ir.id = imr.role_id
            JOIN iam_role_tl irt ON (
            ir.id = irt.id
            AND irt.lang = #{lang}
            )
            JOIN fd_project_permission fpp ON fpp.MEMBER_ROLE_ID = imr.id
                                              AND fpp.project_id = #{projectId}
        WHERE
            imr.member_id = #{clientId}
            AND imr.member_type = 'client'
            AND ir.is_enabled = 1
            AND ir.h_tenant_id = #{tenantId}
        <if test="roleName != null and roleName != ''">
            <bind name="nameLike" value="'%' + roleName + '%'" />
            and irt.name LIKE #{nameLike}
        </if>
    </select>

    <select id="listRoleIdsByTenantId" resultType="java.lang.Long">
        SELECT
            ir.id
        FROM
            iam_role ir
                JOIN iam_user iu ON iu.id = #{userId}
                JOIN iam_member_role imr ON imr.role_id = ir.id
                AND imr.member_id = iu.id
                AND imr.member_type = 'user'
                AND imr.source_id = #{tenantId}
    </select>

    <select id="listVindicators" resultType="org.hzero.iam.domain.entity.User">
        SELECT
            iu.*
        FROM
            iam_user iu
                JOIN iam_role ir ON ir.`code` = 'role/site/default/auditor'
                JOIN iam_member_role imr ON imr.member_id = iu.id
                AND imr.member_type = 'user'
                AND imr.role_id = ir.id
    </select>

    <select id="listRolesByIds" resultType="io.choerodon.iam.api.vo.SimpleRoleVO">
        SELECT
            ir.id,
            ir.`name`,
            ir.`code`
        FROM
            iam_role ir
        WHERE
            ir.id IN
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
          AND ir.h_tenant_id = #{tenantId}
          AND ir.fd_level = 'organization'
    </select>

</mapper>
