<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.RoleC7nMapper">
    <!--建立boolean映射关系-->
    <resultMap id="RoleDTO" type="org.hzero.iam.domain.entity.Role" autoMapping="true">
        <id column="id" property="id"/>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        <result column="is_modified" property="modified" jdbcType="BOOLEAN"/>
        <result column="is_enable_forbidden" property="enableForbidden" jdbcType="BOOLEAN"/>
        <result column="is_built_in" property="builtIn" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="queryRolesInfoByUser" resultMap="RoleDTO">
        SELECT role.*
        FROM
        iam_role role
        LEFT JOIN iam_member_role imr ON role.id = imr.role_id
        WHERE
        imr.member_id = #{userId}
        AND imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
    </select>

    <select id="selectRolesByLabelNameAndType" resultMap="RoleDTO">
        SELECT ir.*
        FROM iam_role ir
        LEFT JOIN iam_role_label irl ON ir.id = irl.role_id
        LEFT JOIN iam_label il ON irl.label_id = il.id
        WHERE il.name = #{name}
        AND il.type = #{type}
        <choose>
            <when test="organizationId != null">
                AND ir.organization_id = #{organizationId}
            </when>
            <otherwise>
                AND ir.organization_id is null
            </otherwise>
        </choose>
    </select>

</mapper>
