<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.RolePermissionC7nMapper">

    <delete id="batchDelete">
        delete from iam_role_permission
        where role_id = #{roleId} and permission_id in
        <foreach collection="deletePermissionIds" item="deletePermissionId" open="(" close=")" separator="," index="i">
            #{deletePermissionId}
        </foreach>
    </delete>
    <resultMap id="rolePermissionMap" type="org.hzero.iam.domain.entity.RolePermission">
        <id property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="permissionSetId" column="permission_id"/>
        <result property="type" column="type"/>
        <result property="type" column="type"/>
        <result property="createFlag" column="h_create_flag"/>
        <result property="inheritFlag" column="h_inherit_flag"/>
    </resultMap>
    <select id="listRolePermissionByRoleIdAndLabels" resultType="org.hzero.iam.domain.entity.Menu">
        SELECT im.*
        FROM iam_role_permission irp
        JOIN iam_menu im ON im.id = irp.permission_id AND im.type = 'ps'
        <if test="labelNames != null and labelNames.size > 0">
            JOIN hiam_label_rel hlr ON hlr.data_id = im.id AND hlr.data_type = 'MENU'
            JOIN iam_label il ON il.id = hlr.label_id
        </if>
        <where>
            irp.role_id = #{roleId} AND irp.type = 'PS' and (irp.h_create_flag = 'Y' OR irp.h_inherit_flag = 'Y')
            <if test="labelNames != null and labelNames.size > 0">
                AND il.name IN
                <foreach collection="labelNames" open="(" separator="," close=")" item="label">
                    #{label}
                </foreach>
            </if>
        </where>
        GROUP BY im.id
    </select>
    <select id="listRolePermissionIds" resultMap="rolePermissionMap">
        SELECT irp.*
        FROM iam_role_permission irp
        INNER JOIN iam_menu im ON irp.permission_id = im.id
        WHERE irp.role_id = #{roleId} AND im.h_enabled_flag = 1 AND  irp.type = 'PS' and (irp.h_create_flag = 'Y' OR irp.h_inherit_flag = 'Y')
    </select>
    <insert id="batchInsert">
        INSERT INTO iam_role_permission
        (CREATION_DATE, CREATED_BY, LAST_UPDATE_DATE, LAST_UPDATED_BY, role_id, permission_id, type, h_create_flag, h_inherit_flag)
        VALUES
         <foreach collection="rolePermissionList" item="ps" separator=",">
             (#{ps.creationDate},#{ps.createdBy},#{ps.lastUpdateDate},#{ps.lastUpdatedBy},
             #{ps.roleId},#{ps.permissionSetId},#{ps.type},#{ps.createFlag},#{ps.inheritFlag})
         </foreach>
    </insert>
    <delete id="batchDeleteById">
        delete from iam_role_permission
        where id in
        <foreach collection="delPsIds" item="deletePermissionId" open="(" close=")" separator="," index="i">
            #{deletePermissionId}
        </foreach>
    </delete>
    <delete id="deleteByRoleId">
        delete from iam_role_permission
        where role_id = #{roleId};
    </delete>
</mapper>
