<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.base.infra.mapper.RouteRuleMapper">

    <select id="listRouteRules" resultType="io.choerodon.base.api.vo.RouteRuleVO">
        select `ID`, `NAME`, `CODE`, `DESCRIPTION`, `OBJECT_VERSION_NUMBER`
        from fd_route_rule
        <where>
            <if test="name != null">
                AND `name` LIKE concat(concat('%', #{name}), '%')
            </if>
            <if test="description != null">
                AND `DESCRIPTION` LIKE concat(concat('%', #{description}), '%')
            </if>
            <if test="params != null">
                <foreach collection="params" item="param" index="index">
                    AND (
                        `NAME` LIKE concat('%', concat(#{param}), '%')
                        OR
                        `DESCRIPTION` LIKE concat(concat('%', #{param}), '%')
                    )
                </foreach>
            </if>
        </where>
    </select>
</mapper>
