<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.StarProjectMapper">

    <resultMap id="projectMap" type="io.choerodon.iam.infra.dto.ProjectDTO" autoMapping="true">
           <id property="id" column="ID"/>
        <result property="enabled" column="IS_ENABLED"/>

        <collection property="categories" ofType="io.choerodon.iam.infra.dto.ProjectCategoryDTO">
            <id property="id" column="c_id"/>
            <result property="code" column="cateory_code"/>
            <result property="name" column="category_name"/>
        </collection>

    </resultMap>
    <select id="query" resultMap="projectMap">
        SELECT fp.*,
        fpc.id AS c_id, fpc.CODE AS cateory_code, fpc.NAME as category_name,
        iu.real_name AS create_user_name, iu.image_url AS create_user_image_url
        FROM fd_star_project_user_rel fspur
        INNER JOIN fd_project fp ON fspur.PROJECT_ID = fp.ID
        LEFT JOIN fd_project_map_category fpmc ON fpmc.PROJECT_ID = fp.ID
        LEFT JOIN fd_project_category fpc ON fpc.ID = fpmc.CATEGORY_ID
        LEFT JOIN iam_user iu ON iu.id = fp.CREATED_BY
        <where>
             fp.IS_ENABLED = true AND fspur.USER_ID = #{userId}
             AND fp.ID IN
            <foreach collection="pids" item="pid" open="(" separator="," close=")" index="i">
                #{pid}
            </foreach>
        </where>
        ORDER BY fspur.sort desc
    </select>
    <select id="queryWithLimit" resultMap="projectMap">
        SELECT fp.*
        FROM  fd_star_project_user_rel fspur
        INNER JOIN fd_project fp ON fspur.PROJECT_ID = fp.ID
        <if test="!isAdmin">
            INNER JOIN fd_project_user fpu ON fpu.PROJECT_ID = fp.ID
            INNER JOIN iam_member_role imr ON imr.id = fpu.MEMBER_ROLE_ID
        </if>
        WHERE fp.ORGANIZATION_ID = #{organizationId} AND fp.IS_ENABLED = true AND fspur.USER_ID = #{userId}
        GROUP BY fp.id
        ORDER BY fspur.id desc
        <if test="size != null">
            limit #{size}
        </if>

    </select>
    <select id="getDbMaxSeq" resultType="long">
        select
          fspur.sort
        from
          fd_star_project_user_rel fspur
        where
          fspur.ORGANIZATION_ID= #{organizationId}
          AND fspur.USER_ID= #{userId}
        order by fspur.id DESC
        LIMIT 1
    </select>
</mapper>
