<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.base.infra.mapper.SvcVerDownloadRecordMapper">
    <select id="listSvcVerDownloadRecordByVersionIds" resultType="io.choerodon.base.infra.dto.SvcVerDownloadRecordDTO">
        SELECT msvdr.mkt_version_id, msvdr.mkt_svc_version_id, msvdr.status
        FROM mkt_svc_ver_download_record msvdr
        WHERE msvdr.MKT_VERSION_ID IN
        <foreach collection="versionIds" open="(" close=")" item="versionId" separator="," index="index">
            #{versionId}
        </foreach>
        <if test="organizationId!=null">
            AND msvdr.ORGANIZATION_ID=#{organizationId}
        </if>
    </select>
    <select id="getSvcDownloadByVersionId" resultType="io.choerodon.base.infra.dto.SvcVerDownloadRecordDTO">
        SELECT msvdr.*
        FROM mkt_svc_ver_download_record msvdr
        WHERE  msvdr.ORGANIZATION_ID=#{organizationId}
        AND msvdr.mkt_svc_version_id=#{svcVerDownloadRecordDTO.mktSvcVersionId}
        AND msvdr.mkt_version_id=#{svcVerDownloadRecordDTO.mktVersionId}
        AND msvdr.status=#{svcVerDownloadRecordDTO.status}
        ORDER BY msvdr.id DESC
        LIMIT 1
    </select>

</mapper>
