<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.UserWizardTenantMapper">
    <select id="queryUserWizardStatusByOrgId" resultType="io.choerodon.iam.api.vo.UserWizardStatusVO">
        SELECT
            iuw.`CODE`,
            iuw.`NAME`,
            iuwt.`STATUS` ,
            iuw.OPERATION_LINK,
            iuw.REMARK,
            true as enableClick
        FROM
            IAM_USER_WIZARD_TENANT iuwt
                JOIN IAM_USER_WIZARD iuw ON iuw.id = iuwt.WIZARD_ID
        WHERE
            iuwt.TENANT_ID = #{organizationId}
        ORDER BY iuw.SORT
    </select>

    <select id="queryCompletedFirstStep" resultType="java.lang.String">
        SELECT
            iuwt.`STATUS`
        FROM
            IAM_USER_WIZARD_TENANT iuwt
                JOIN IAM_USER_WIZARD iuw ON iuw.id = iuwt.WIZARD_ID
                AND iuw.`CODE` = 'createProject'
        WHERE
            iuwt.TENANT_ID = #{organizationId}
    </select>

    <select id="queryByTenantIdAndCode" resultType="io.choerodon.iam.infra.dto.UserWizardTenantDTO">
        SELECT
            iuwt.*
        FROM
            IAM_USER_WIZARD_TENANT iuwt
                JOIN IAM_USER_WIZARD iuw ON iuw.id = iuwt.WIZARD_ID
                AND iuw.`CODE` = #{code}
        WHERE
            iuwt.TENANT_ID = #{tenantId}
    </select>
</mapper>
