<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.iam.infra.mapper.WorkGroupMapper">

    <insert id="insertSyncData">
        insert into fd_work_group
        (
        id,
        name,
        parent_id,
        rank,
        organization_id,
        open_object_id,
        open_type,
        object_version_number,
        created_by,
        creation_date,
        last_updated_by,
        last_update_date
        )
        values
        <foreach collection="insertList" item="item" index="index" separator=",">
            (#{item.id},
            #{item.name},
            #{item.parentId},
            #{item.rank},
            #{item.organizationId},
            #{item.openObjectId},
            #{item.openType},
            #{item.objectVersionNumber},
            #{item.createdBy},
            #{item.creationDate},
            #{item.lastUpdatedBy},
            #{item.lastUpdateDate}
            )
        </foreach>
    </insert>

    <delete id="deleteByWorkGroupIds">
        DELETE FROM fd_work_group
        WHERE organization_id = #{organizationId}
        AND id IN
        <foreach collection="workGroupIds" item="workGroupId" open="(" close=")" separator=",">
            #{workGroupId}
        </foreach>
    </delete>

    <select id="queryMinRank" resultType="java.lang.String">
        select min(rank) from fd_work_group
        where organization_id = #{organizationId}
        and parent_id = #{parentId}
    </select>

    <select id="queryMaxRank" resultType="java.lang.String">
        select max(rank) from fd_work_group
        where organization_id = #{organizationId}
        and parent_id = #{parentId}
    </select>

    <select id="selectByOrganiztionId" resultType="io.choerodon.iam.infra.dto.WorkGroupDTO">
        select * from fd_work_group
        where organization_id = #{organizationId}
        order by rank
    </select>

    <select id="queryRank" resultType="java.lang.String">
        select rank from fd_work_group
        where organization_id = #{organizationId}
        and parent_id = #{parentId}
        and id = #{outSetId}
    </select>

    <select id="queryLeftRank" resultType="java.lang.String">
        select max(rank) from fd_work_group
        where organization_id = #{organizationId}
        and parent_id = #{parentId}
        and rank &lt; #{rightRank}
    </select>

    <select id="queryRightRank" resultType="java.lang.String">
        select min(rank) from fd_work_group
        where organization_id = #{organizationId}
        and parent_id = #{parentId}
        and rank > #{leftRank}
    </select>

    <select id="selectIdsByOrganizationId" resultType="java.lang.Long">
        select id
        from fd_work_group
        where organization_id = #{organizationId}
        <if test="ignoredWorkGroupIds != null and ignoredWorkGroupIds.size > 0">
            and id not in
            <foreach collection="ignoredWorkGroupIds" item="workGroupId" open="(" close=")" separator=",">
                #{workGroupId}
            </foreach>
        </if>
    </select>

    <select id="queryByOpenObjectId" resultType="io.choerodon.iam.infra.dto.WorkGroupDTO">
        SELECT
        *
        FROM
        fd_work_group
        WHERE
        organization_id = #{organizationId} and open_object_id = #{openObjectId} and open_type = #{openType}
    </select>

    <update id="updateOpenObjectIdById">
        update fd_work_group
        set open_object_id = #{openObjectId},
        open_type = #{openType}
        where id = #{id}
    </update>
</mapper>